/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


.seniorContent{
    background: #b3d4d1;
  }
  
  .elementary{
     display: flex;
   justify-content: space-between;
    padding: 32px 16px;
    background: #e7eeea;  
  }
  
  a{
    color: #37523d;
    font-weight: bold;;
    font-size: 24px;
    text-decoration: none;
    font-family: DFKai-sb;
  }
  
  a:hover{
    color: red;
    transition: 0.3s;
    font-size: 24px;
  }
  
  a:active{
    color: blue;
  }
  
  .testFive{
    display: flex;
  }
  
  .testFive li{
    padding-left: 16px;
  }
  
  .testSix{
    display: flex;
  }
  
  .testSix li{
    padding-right: 16px;
  }
  
  .junior{
    background: #e7eeea;  
    padding: 16px 30px;
  }
  
  .junior ul{
    display: flex;
    justify-content: space-between;
  }
  
  .teacher{
    padding: 16px 30px;
    background: #e7eeea;
  
  }
  
  .teacher ul{
    display: flex;
    justify-content: space-between;
  }
  
  h3{
    padding: 16px;
    background: #b3d4d1;
    font-weight: bold;
    font-size: 24px;
    color: #5233FF ;
    text-align: center;
  }
  
  .wrap{
    display: flex;
    justify-content: space-around;  
    padding: 16px;
    width: 100vw;
  }
  
  @import url(https://fonts.googleapis.com/css?family=Montserrat:300&subset=latin-ext);
  
  
  
  .nav {
  /* 	margin: 0 auto; */
      max-height: 100vh;
    width: 100vw;
      background: #008FEA;
      box-shadow:0 3px 15px rgba(0,0,0,.15);
    display: flex;
    justify-content: space-around
  }
  
  nav::after {
      display: block;
      content: '';
      clear: both;
  }
  /* 
  nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
  } */
  /* 
  nav ul li {
      float: left;
      position: relative;
  } */
  
  nav ul li a {
      display: block;
      color: rgba(255, 255, 255, .9);
      text-decoration: none;
      padding: 1rem 2.05rem;
      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;
      transition: all .3s ease-in-out;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
      background: rgba(0, 0, 0, .15);
  }
  
  nav ul li a:focus {
      color: white;
  }
  
  nav ul li a:not(:only-child)::after {
      padding-left: 4px;
      content: '▾';
  }
  /* 
  nav ul li ul li {
      min-width: 25px;
  }
   */
  nav ul li ul li a {
      background: transparent;
      color: #555;
      border-bottom: 1px solid #DDE0E7;
  }
  
  nav ul li ul li a:hover,
  nav ul li ul li a:focus {
      background: #eee;
      color: #111;
  }
  
  .dropdownAn5 {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  }
  
  .dropdownShih5 {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  }
  
  .dropdownAn6 {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  }
  
  .dropdownShih6 {
      display: none;
      position: absolute;
      background: #fff;
      box-shadow: 0 4px 10px rgba(10, 20, 30, .4);
  }
    
.wrapNav{
    display: flex;
    width: 100vh;
    margin: 0 auto;
  }
  
  .nav {
    	margin: 0 auto;
        max-width: 100vh;
        background: #008FEA;
        box-shadow:0 3px 15px rgba(0,0,0,.15);
      display: flex;
    }

.container {
    display: flex;
    width: 100vw;

  }



.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 20vh;

  border-radius: 50px;
  color: #fff;
    cursor: pointer;
    flex: 0.2;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  
}



.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media(max-width: 480px) {
  .container {
    width: 100vw;
  }
  
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
  display: none; 
  }
}

.panelBgsizeCover , .panelBgsizeContain{
    padding: 5px;
    margin: 10px;
}